@font-face {
    font-family: 'GoodVibrationsROB';
    src: url('GoodVibrationsROB.bmp') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AbductionII';
    src: url('AbductionII.bmp') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AngieTanLines';
    src: url('AngieTanLines.bmp') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jellyka_-_Love_and_Passion';
    src: url('Jellyka_-_Love_and_Passion.bmp') format('woff');
    font-weight: normal;
    font-style: normal;
}