* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei UI", cursive;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: $font;
}

button, input, textarea {
  border: none;
  outline: none;
  background-color: transparent;
  color: $font;
}

button, .btn-active {
  &:active {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
}

// main
.tl-con {
  width: 100%;
  height: 100%;
  background-color: $bgMain;
  position: relative;
  overflow-x: hidden;
  &:before, &:after {
    display: table;
    content: '';
  }
  button, input {
    color: #fff;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

// transition - slide
.slide-into-enter, .slide-back-leave-to {
  transform: translateX(100%);
}

.slide-into-enter-to {
  transform: translateX(0);
}

.slide-into-enter-to, .slide-back-leave, .slide-back-leave-to {
  z-index: 1;
}

.slide-into-leave-to, .slide-back-enter, .slide-back-enter-to {
  z-index: 0;
}

.slide-into-enter-active, .slide-into-leave-active, .slide-back-enter-active, .slide-back-leave-active {
  transition: 0.3s;
  position: absolute;
}
